body {
  background-color: rgb(56, 28, 180);
}

h1 {
  color: red;
  font-style: italic;
}

p {
  color: rgb(241, 137, 0);
  font-size: 20px;
}

ol {
  color: rgb(241, 137, 0);
  font-size: 18px;
}

a {
  color: white;
}

.title {
  padding: 30px 80px;
}

.navigation{
  padding: 10px 80px;
  background-color: black;
}